<ion-view view-title="Question {{numero}}" hide-back-button="true" xmlns:margin-="http://www.w3.org/1999/xhtml">
  <ion-content scroll="false">

    <ion-slide-box ng-init="disableSwipe()" show-pager="false">

      <ion-slide ng-repeat="question in questions">
        <p style="font-family: 'Noto Sans CJK JP DemiLight'; font-size: 18px; margin-top: 40px; margin-left: 10px; margin-right: 10px; margin-bottom: 40px">
          <span style="display: inline-block">{{question.title}} :</span> <span style="display: inline-block">{{question.question}}</span>
        </p>

       <!-- <ion-radio ng-model="abouche" value="A">CCCCC</ion-radio>
        <ion-radio ng-model="abouche" value="B">BBBBB</ion-radio>-->
        <!--<div class="list list-inset" ng-repeat="test in tests">
          <input type="radio" ng-change="changementR()" ng-model="settings.id" value="{{test.id}}">{{test.id}}</input>
        </div>-->

       <ion-radio ng-if="!question.isCheckBox" ng-repeat="response in question.responses"
                   ng-model="formModel.id" ng-change="changementR()" value="{{response.idrep}}"
                   >
          {{response.rep}}
        </ion-radio>

        <ion-checkbox ng-if="question.isCheckBox" ng-repeat="response in question.responses"
                      ng-model="formModel.responses[$index]" ng-change="changementC()" value="{{response.idrep}}"
                      >
          {{response.rep}}
        </ion-checkbox>

          <!--<a ng-if="!$first" ng-click="nextQuestion($index-1)" class="text-left button button-calm" style="margin-top:20px; margin-left: 20px;float: left">
            Back
          </a>-->

          <a ng-if="!$last" ng-click="nextQuestion($index+1)" class="button button-calm" style="margin-top:20px; margin-right: 20px; float: right" ng-disabled="checked">
            Next
          </a>

          <a ng-if="$last" ng-click="validerQuestion()" class="text-right button button-calm" style="margin-top:20px; margin-right: 20px; float: right" ng-disabled="checked">
            Valider
          </a>
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
