<ion-view view-title="Resultats" hide-back-button="true" xmlns:margin-="http://www.w3.org/1999/xhtml">
  <ion-content class="padding" scroll="false">

    <h4>Resultats :</h4>

    <div class="card" ng-repeat="question in questions">
      <div class="item item-text-wrap">
        {{question.question}}
        <div ng-repeat="reponse in question.responses">
          <div style="background-color: red;margin-top: 10px">- {{reponse.rep}}</div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
