<ion-view view-title="Statistiques">
  <ion-content class="padding">
    <h3>Statistique : </h3>
    <div style="text-align: center"><ion-spinner ng-show="loading"></ion-spinner></div>
    <div ng-hide="loading">
      <p style="font-family: 'Noto Sans CJK JP DemiLight'; font-size: 18px; margin-top: 40px; margin-left: 10px; margin-right: 10px; margin-bottom: 20px">
        <span style="display: inline-block">Q{{question.number}} :</span> <span style="display: inline-block">{{question.title}}</span>
      </p>
      <div  style="margin-left:50px; margin-bottom:50px">
        <div style="font-family: 'Noto Sans CJK JP DemiLight'; font-size: 16px;" ng-repeat="proposition in question.propositions"
             ng-style="proposition.verdict === 1 && {'color': 'green'}" ng-if="proposition.number != 0">
          {{proposition.number}} - {{proposition.title}}
        </div>
      </div>
      <div google-chart chart="myChartObject" style="height:450px; width:90%; margin: 0 auto;"></div>
    </div>
  </ion-content>
</ion-view>

